# dependencies
/node_modules

# next.js
/.next/
/out/

# production
/build

# local env files
.env*.local
.env

# prisma generated client
/src/generated/

# prisma compute local state
.prisma/

# database
/data/

# logs
*.log
.prisma/
